.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #6b5b44; /* Светлый теплый бежевый */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  z-index: 100; 
}

.header-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
}

.logo-image {
  height: 70px; /* Устанавливаем высоту логотипа */
  width: auto; /* Автоматически подстраиваем ширину */
  object-fit: contain;
}

.switchers {
  display: flex;
  gap: 10px;
}

.switchers button:hover {
  background-color: #f5e8d5; /* Светлый бежевый при наведении */
  color: #2c3e50;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
