/* src/pages/massage-page/MassagePage.module.css */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 135px 20px 0 20px;

  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
@media (min-width: 1200px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
